.main-theme {
    /* colors */
    --color-background: #86A3B4;
    --color-main-text: #263036;
    --color-head-text: #1E1E1E;
    --color-link-base: #1C2E8C;
    --color-link-visited: #005;
    --color-link-hover: rgb(5, 5, 96);
    --color-name-first: #fff;
    --color-name-last: #1C2E8C;
    --color-hr: #000;
}

:root {
    /* margin */
    --base-info-margin: 40px 0 0 40px;
    --base-info-margin-secondary: 20px 10px 0 40px;
    --section-margin-top: 50px;
    --base-info-hr-margin: 0px 40px 30px 0px;
    --base-info-li-margin: 25px;
    --base-info-h-margin: 10px;

    --extra-info-margin: 55px;
    --extra-info-hr-margin: 0 100px 20px 0;
    --extra-info-h-mragin: 0 0 30px 0;
    --extra-info-li-margin: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

hr {
    height: 5px;
    border: 0;
    background-color: var(--color-hr);
}

ul {
    padding-left: 0px;
}

a:link {
    color: var(--color-link-base);
    text-decoration: underline;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: none;

}

.container {
    display: flex;
    height: 1200px;
}

@keyframes up {
    0% {
        margin-top: 90vh;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.base-info {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    width: 20vw;
    border-right: black solid 2px;
    box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
    animation: up 1s ease-out .1s;
}

.base-info hr {
    margin: var(--base-info-hr-margin);
}

.name {
    font-size: 40px;
    display: block;
    color: var(--color-name-first);
    margin: var(--base-info-margin);
}

.name-span {
    color: var(--color-name-last);
}

.ihor-photo {
    width: 20vw;
    transition: all .2s;
}

.ihor-photo:hover {
    transform: scale(1.5) translateX(16%);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
}

.hire-me {
    display: inline;
    margin: 20px 0 20px 40px;
    font-size: 20px;
    font-weight: bold;
}

.base-section {
    color: var(--color-main-text);
    margin: var(--base-info-margin-secondary);
}

.contact h2 {
    margin-bottom: var(--base-info-h-margin);
    font-size: 30px;
}

.contact h3 {
    margin: 0px;
    margin-bottom: var(--base-info-h-margin);
    font-size: 20px;
}

.contact-list {
    list-style-type: none;
    padding-left: 0px;

}

.contact-item {
    margin-bottom: var(--base-info-li-margin);
    font-weight: bold;
    font-size: 16px;
}

.languages h2 {
    margin-bottom: var(--base-info-h-margin);
    font-size: 30px;
}

.languages li {
    list-style-type: none;
    margin-bottom: var(--base-info-li-margin);
    font-weight: bold;
    font-size: 20px;
}

.extra-info {
    display: block;
    flex-grow: 1;
    margin-left: var(--extra-info-margin);
    color: var(--color-main-text);
    animation: up 1s ease-out .5s;
}

.extra-info hr {
    margin: var(--extra-info-hr-margin);

}

.extra-info h2 {
    font-size: 34px;
    margin: var(--extra-info-h-mragin);
    color: var(--color-head-text);
}

.extra-info p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: var(--color-main-text);
}

.extra-section {
    margin-top: var(--section-margin-top);
}

.skills ul {
    padding-left: 20px;
    font-weight: bold;
}

.ed-list {
    list-style-type: none;
}

.ed-list p {
    font-weight: normal;
    margin: 0;
}

.ed-list span {
    font-weight: bold;
}

.ed-list li {
    margin-bottom: var(--extra-info-li-margin);
}

.ed-item.done {
    opacity: 70%;
}

.ed-item.done:hover {
    transition: all .7s;
    opacity: 100%;
}

/* @media */
@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .base-info {
        width: 100vw;
    }

    .extra-info {
        margin: 0 30px 20px 40px;
    }

    .extra-info hr {
        margin-right: 0;
    }

    .extra-info section {
        margin-top: 35px;
    }

    .ihor-photo {
        margin: auto;
        width: 75vw;
    }

    .ihor-photo:hover {
        transform: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    .name {
        font-size: 60px;
    }

    .hire-me {
        font-size: 30px;
    }

    .contact h2 {
        font-size: 40px;
    }

    .contact h3 {
        font-size: 30px;
    }

    .contact-item {
        font-size: 22px;
    }

    .languages h2 {
        font-size: 40px;
    }

    .languages li {
        font-size: 30px;
    }

    .extra-info h2 {
        font-size: 40px;
    }

    .skills ul {
        font-size: 22px;
    }

    .extra-info p {
        font-size: 22px;
    }
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
    .base-info {
        width: 250px;
    }

    .ihor-photo {
        width: 250px;
    }

    .ihor-photo:hover {
        transform: none;
        box-shadow: none;
    }
}