body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

hr {
    background-color: black;
    height: 4px;
    border: 0;
}

ul {
    padding-left: 0px;
}

a:link {
    color: darkslateblue;
    text-decoration: underline;
}

a:visited {
    color: #005;
}

a:hover {
    color: darkblue;
    text-decoration: none;

}

.container {
    display: flex;
    height: 1400px;
    position: relative;
}

.base-info {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: 300px;
    border-right: black solid 2px;
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: hidden;
    position: fixed;
}

.base-info hr {
    margin-bottom: 30px;
    margin: 0px 40px 30px 0px;
}

.name {
    font-size: 40px;
    display: block;
    color: whitesmoke;
    margin-left: 40px;
}

.name-span {
    color: darkslateblue;
}

.ihor-photo {
    width: 300px;
}

.hire-me {
    display: inline;
    margin: 0 0 20px 40px;
    font-size: 20px;
}

.contact {
    margin: 20px 10px 0 40px;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-list {
    list-style-type: none;
    padding-left: 0px;
}

.contact-item {
    margin-bottom: 25px;
}

.languages {
    margin: 20px 10px 0 40px;
}

.languages li {
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.extra-info {
    display: block;
    flex-grow: 1;
    margin-left: 55px;
    position: absolute;
    left: 300px;
    width: calc(100vw - 372px);
}

.extra-info hr {
    margin: 0 100px 20px 0;
}

.extra-info h2 {
    font-size: 36px;
    margin: 0 0 30px 0;
}

.extra-info p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.summary {
    margin-top: 50px;
}

.skills {
    margin-top: 50px;
}

.skills ul {
    padding-left: 20px;
    font-weight: bold;
}

.education {
    margin-top: 50px;
}

.ed-list {
    list-style-type: none;
}

.ed-list p {
    font-weight: normal;
    margin: 0;
}

.ed-list span {
    font-weight: bold;
}

.ed-list li {
    margin-bottom: 20px;
}