.main-theme {
  /* colors */
  --color-background: #86a3b4;
  --color-main-text: #263036;
  --color-head-text: #1e1e1e;
  --color-link-base: #1c2e8c;
  --color-link-visited: #005;
  --color-link-hover: rgb(5, 5, 96);
  --color-name-first: #fff;
  --color-name-last: #1c2e8c;
  --color-hr: #000;
}
