.my-theme {
    /* colors */
    --color-background: #f5cb5c;
    --color-main-text: #393b39;
    --color-head-text: #a6b1ac;
    --color-link-base: #e8eddf;
    --color-link-visited: #858d89;
    --color-link-hover: #cfdbd5;
    --color-name-first: #cfdbd5;
    --color-name-last: #333533;
    --color-hr: #000;
}