@import './main_theme';
@import './my-theme';

$color-background: var(--color-background);
$color-main-text: var(--color-main-text);
$color-head-text: var(--color-head-text);
$color-link-base: var(--color-link-base);
$color-link-visited: var(--color-link-visited);
$color-link-hover: var(--color-link-hover);
$color-name-first: var(--color-name-first);
$color-name-last: var(--color-name-last);
$color-hr: var(--color-hr);
